<?xml version="1.0"?>
<launch>

  <include file="$(find viper_description)/launch/load_viper_s650.launch" />
  <rosparam file="$(find viper_s650)/config/ViperTrajectoryControl.yaml" command="load"/>

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find industrial_robot_client)/config/robot_state_visualize.rviz" required="true" />

</launch>
